<div style="font-family: DM Sans,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #ff3300;text-decoration:none;font-weight:600">Gestapo</a>
        </div>
        <p style="font-size:1.1em">Hi {{.email}},</p>
        <p>{{.content}}</p>
        <h2
            style="background: #ff3300;margin: 0 auto;width: max-content;padding: 0 10px;color: #000000;border-radius: 4px;">
            {{.otp}}</h2>
        <p style="font-size:0.9em;">Regards,<br />Gestapo</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Gestapo Inc</p>
            <p>Near Reliance Pumb</p>
            <p>Valanchery</p>
        </div>
    </div>
</div>

<!-- Welcome to Gestapo !!!. Use the following OTP to complete your Sign Up procedures. OTP is valid for 5
            minutes -->